html, body
{
	width: 100%;
	height: 100%;
	
	margin: 0;
	
	background: white;
	
	font-family: Arial;
}

div.container
{
	width: 100%;
	text-align: center;
	
	position: absolute;
	top: 0;
	bottom: 0;
}

div.form
{
	width: 300px;
	max-width: 100%;
	
	margin: auto;
	display: none;
}

div.form div.logo img
{
	height: 100px;
}

div.form form
{
	border: 1px solid #ccc;
	border-radius: 8px;
	
	display: block;
	width: 100%;
}

div.form form div.head
{
	background: #fff;
	border-bottom: 1px solid #ddd;
}

div.form form div.head h1
{
	color: #ff5c40;
	font-size: 30px;
	
	margin: 15px 0 5px;
}

div.form form div.head h2
{
	color: #333;
	font-size: 22px;
	
	margin: 0 0 10px;
}

div.form form div.body
{
	background: #f2f2f2;
	padding: 10px;
	
	border-bottom: 1px solid #ddd;
	
	text-align: left;
}

div.form form div.body label
{
	font-size: 16px;
	color: #333;
	padding: 5px 0 5px; 
	
	display: block;
}

div.form form div.body input
{
	font-size: 16px;
	border: 1px solid #aaa;
	border-radius: 5px;
	
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	
	padding: 5px;
	color: #333;
}

div.form form div.foot
{
	padding: 10px;
}

div.form form div.foot button
{
	font-size: 20px;
	color: white;
	
	border-radius: 5px;
	border: 1px solid #9f3928;
	background: #ff5c40;
	
	padding: 5px;
	
	cursor: pointer;
}

div.form form div.foot button:hover
{
	background: #9f3928;
}

video.hidden
{
	width: 1px;
	height: 1px;
	
	visibility: hidden;
}